@font-face {
	  font-family: 'icomoon';
	  src:  url('../fonts/icomoon.eot?1tdhjw');
	  src:  url('../fonts/icomoon.eot?1tdhjw#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?1tdhjw') format('truetype'),
		url('../fonts/icomoon.woff?1tdhjw') format('woff'),
		url('../fonts/icomoon.svg?1tdhjw#icomoon') format('svg');
	  font-weight: normal;
	  font-style: normal;
	  font-display: block;
}