*{
	margin: 0px;
	padding: 0px;
}
body{
	width: 100%;
	display: none;
	text-align: center;
	background-color: #efefef;
}
a{
	color: #FFFFFF;
}
#content{
	width:110vh;
	height:80vh;
	//transition: 1s;
	position: absolute;
	border: 0px solid;
	border-radius: 3%;
	background-size: 120%;
	background-color: #efefef;
	background-position: center; 
	background-repeat: no-repeat;
	background-image: url(https://cdn.jsdelivr.net/gh/lgzzk1024/lgzzk@main//cd.jpg);
	//box-shadow: 0px 0px 20px rgba(0,0,0,.4);
}
#last_svg:active,#next_svg:active{
	box-shadow: 0px 0px 20px rgba(0,0,0,.3);
}
.svg{
	width: 70px;
	height: 70px;
	cursor: pointer;
	transition: 0.1s;
	border-radius: 50px;
	position: absolute;
	background-position: center;
	background-repeat: no-repeat;
}
#last_svg{
	left: 0px;
	background-image: url(../img/left1.svg);
}
#next_svg{
	right: 0px;
	background-image: url(../img/right2.svg);
}
#content_svg{
	width: 138vh;
	border-radius: 200px;
	position: absolute;
	//background-color: #0F9654;
}
#content_text{
	width: 100%;
	height: 28%;
	bottom: 0px;
	//padding: 6px;
	color: #ffffff;
	position: absolute;
	text-align: center;
	font-size: 25px;
	border: 0px solid;
	box-sizing: border-box;
	background-size: 102%;
	background-color: rgba(0,0,0,.2);
}
#text1{
	font-size: 30px;
	text-align: center;
	font-style: italic;
	font-family:STCAIYUN;
}