body{
	padding:0px;
	margin:0px;
	background-size: cover;
	background-color: #ff93a0;
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-image:url(https://img.imgdb.cn/item/6006e70b3ffa7d37b3faf75a.jpg);
	
	
}
#title_{
	font-family:"bradley hand itc";
	text-align:center;
	font-size:70px;
	margin:0px auto;
	border:solid #b3b3b3;
	width:710px;
	padding: 0px;;
	border-radius: 10em;
}
#title_:hover{
	color:#ffffff;
}
div img{
	position:relative;
	width:25px;
	//background-color:#fffae8;
}
div img:hover{
	width:30px;
}
.div_img{
	position:absolute;
	height:45px;
	bottom:0px;
	width:100%;
	padding:0px;
	//background-color:#5db3e8;
}
.div_img:hover{
	height:50px;
}
.div_center{
	width:300px;
	margin:0px auto;
	//padding:0px;
	//background-color:#FFFAE8;
}
