body{
	padding: 0px;
	margin: 0px;
	background-color: #010103;
	background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-image: url(https://img.imgdb.cn/item/6006e5fc3ffa7d37b3fa7e67.jpg);
}
.container{
	height:0vh;
	background-color:#000314;
	display: flex;
	justify-content: center;
	align-items:center; 
}
.rocket1{
	animation:move 1.1s linear infinite;
}
.rocket2{
	animation:move 1.2s linear infinite;
}
.rocket3{
	animation:move 1.3s linear infinite;
}
.rocket4{
	animation:move 1.4s linear infinite;
}
.rocket5{
	animation:move 1.6s linear infinite;
}
.rocket6{
	animation:move 1.7s linear infinite;
}
.rocket7{
	animation:move 1.8s linear infinite;
}
.rocket8{
	animation:move 1.9s linear infinite;
}
.rocket9{
	animation:move 2s linear infinite;
}
.rocket10{
	animation:move 2.1s linear infinite;
}
.rocket11{
	animation:move 1.9s linear infinite;
}
.rocket12{
	animation:move 1.8s linear infinite;
}
.rocket13{
	animation:move 1.7s linear infinite;
}
.rocket14{
	animation:move 1.6s linear infinite;
}
.rocket15{
	animation:move 1.5s linear infinite;
}
.rocket16{
	animation:move 1.4s linear infinite;
}
.rocket17{
	animation:move 1.3s linear infinite;
}
.rocket18{
	animation:move 1.2s linear infinite;
}
.rocket19{
	animation:move 1.1s linear infinite;
}
@keyframes move{
	from{
		transform:translatey(600px);
	}
	to{
		transform:translateY(-230px);
	}
}