*{
	/*font-size:100px;
	color:#4bbe62;
	text-align:center;
	letter-spacing:90px;
	font-family:"bradley hand itc";*/
}
body{
	background-color:#010101;
}
.titlep{
	font-size:100px;
	color:#4bbe62;
	text-align:center;
	letter-spacing:90px;
	font-family:"bradley hand itc";
}
.main_boder{
	border:1px solid  #4bbe62;
	height:1000px;
}
.text_border{
	 border:1px solid  #4bbe62;
	 //wedth:10px;
	 height:100px;
	 //padding:1px;
	 //box-sizing: border-box;
}

